.tile {
    width: 75px;
    height: 75px;
    display: grid;
    place-content: center;
}

.black-tile {
    background-color: #573a2e;

}

.white-tile {
    background-color: #fccc74;
}

.tile .chess-pieces{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
}

.tile .chess-pieces:hover{
    cursor:grab
}

.tile .chess-pieces:active{
    cursor:grabbing
}