.chessBoard {
    display: grid;
    grid-template-columns: repeat(8, 75px);
    grid-template-rows: repeat(8, 75px);
    width: 600px;
    height: 600px;
    background-color: #573a2e;
}

.chessBoard .tile {
    width: 75px;
    height: 75px;
}

.chessBoard .black-tile {
    background-color: #573a2e;

}

.chessBoard .white-tile {
    background-color: #fccc74;

}